* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: Hind, sans-serif;
  color: #212529;
  line-height: 1.5;
  background-color: #fff;
}
/*header*/
.heading {
  max-width: 750px;
}
.heading h2 {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
}
.heading p {
  color: #585858;
  line-height: 24px;
}
.overlay {
  background: rgba(39, 43, 54, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
header {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
}
header .navbar-brand {
  font-size: 36px;
  color: #fff;
}
header .navbar-brand i {
  font-size: 45px;
  color: #35a22c;
}
#navbarPort .nav-item {
  margin: 0 10px;
}
#navbarPort .nav-item .nav-link {
  color: #fff;
  transition: all 0.5s;
}
#navbarPort .nav-item:hover .nav-link {
  color: #35a22c;
}
#navbarPort .nav-item::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #35a22c;
  display: block;
  transition: all 0.5s;
}
#navbarPort .nav-item:hover::after {
  width: 100%;
}
#navbarPort .nav-item.active .nav-link {
  color: #35a22c;
}
#navbarPort .nav-item.active::after {
  width: 100%;
}
header .navbar-toggler {
  background-color: #35a22c;
}
header .navbar-toggler:hover {
  background-color: #0ea8cf;
}
@media screen and (max-width: 991.98px) {
  header .navbar-collapse {
    background-color: #fff;
  }
  #navbarPort .nav-item {
    margin: 0;
    padding: 0 10px;
  }
  #navbarPort .nav-item:hover {
    background-color: #35a22c;
  }
  #navbarPort .nav-item .nav-link {
    color: #35a22c;
  }
  #navbarPort .nav-item:hover .nav-link {
    color: #fff;
  }
  #navbarPort .nav-item.active::after,
  #navbarPort .nav-item:hover::after {
    width: 0;
  }
}
@media screen and (max-width: 376px) {
  header .navbar-brand i {
    font-size: 8vw;
  }
  header .navbar-brand {
    font-size: 7vw;
  }
}
/*carousel*/
.myCarousel .carousel-item {
  height: 100vh;
}
.myCarousel .carousel-caption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.myCarousel .carousel-caption h5 {
  font-size: 56px;
  line-height: 65px;
}
.myCarousel .carousel-caption p {
  font-size: 24px;
}
.carousel__thumb {
  width: 140px;
  padding: 8px;
  border-radius: 50%;
  margin: auto;
  backdrop-filter: blur(3px);
}
.carousel-caption img {
  width: 140px;
  border-radius: 50%;
  margin: auto;
}
.myCarousel .carousel-indicators li {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: none;
}
.myCarousel .carousel-indicators li.active {
  background-color: #35a22c;
}
.carousel-indicators {
  bottom: 10%;
}
.carousel-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-item:nth-child(1) {
  background-image: url(../image/finland.jpg);
}
.carousel-item:nth-child(2) {
  background-image: url(../image/mountains.jpg);
}
.carousel-item:nth-child(3) {
  background-image: url(../image/mountains-1.jpg);
}
@media screen and (max-height: 415px) {
  .carousel-caption img {
    width: 100px;
  }
  .myCarousel .carousel-caption h5 {
    font-size: 5vw;
    line-height: 5vw;
  }
  .myCarousel .carousel-caption p {
    font-size: 3vw;
  }
  .carousel-caption {
    padding-top: 0;
  }
}
@media screen and (max-width: 320px) {
  .carousel__thumb {
    width: 120px;
  }
  .carousel-caption img {
    width: 120px;
  }
  .myCarousel .carousel-caption h5 {
    font-size: 10vw;
    line-height: 10vw;
  }
  .myCarousel .carousel-caption p {
    font-size: 5vw;
  }
  .carousel-caption {
    padding-top: 0;
  }
}
.welcome {
  position: relative;
}
.bg-overlay {
  background-image: url(../image/memphis_2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.welcome .progress {
  height: 0.3rem;
}
.welcome .progress .progress-bar {
  width: 100%;
  background: linear-gradient(to right, #35a22c, #0ea8cf);
}
.welcome__content.aos-animate .progress-bar {
  animation: progress 1.5s ease-in-out forwards;
}
.welcome h4 {
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  color: #1a1d2d;
  margin-bottom: 10px;
}
/*feature*/
.feature {
  background: url(../image/3.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 0 120px;
  background-attachment: fixed;
  position: relative;
}
.feature .overlay {
  background: rgba(7, 10, 12, 0.72);
}
.feature .heading {
  position: relative;
}
.feature__item {
  padding: 40px 40px;
  transition: 0.3s;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.5s;
}
.feature__item i {
  font-size: 48px;
  color: #35a22c;
}
.feature__item h4 {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  padding-top: 25px;
  font-weight: 800;
}
.feature__item p {
  padding-top: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.feature__item:hover {
  background: #000;
  border-color: #fff;
}
/*project*/
.projects__item {
  margin-top: 30px;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.13);
  border: none;
  cursor: pointer;
}
.projects__item p {
  color: #585858;
}
.projects__item .card-body {
  border: 1px solid transparent;
  border-radius: 0 0 1rem 1rem;
  transition: all 0.5s;
}
.projects__item:hover .card-body {
  border-color: #35a22c;
  border-top-color: transparent;
}
.projects__item:hover h3 {
  color: #35a22c;
}
.projects .nav-pills .nav-link {
  color: #1a1d2d;
  border: 1px solid #1a1d2d;
  margin: 0 5px;
}
.projects .nav-pills .nav-link.active,
.projects .nav-pills .show > .nav-link {
  background-color: #35a22c;
  color: #fff;
  border-color: #35a22c;
}
@media screen and (max-width: 575.98px) {
  .projects__content .nav .nav-link {
    padding: 0.5rem;
  }
  .bg-overlay {
    background-position: right top;
  }
}
@media screen and (max-width: 415px) {
  .projects__content .nav .nav-item {
    margin-bottom: 1rem;
  }
}
/* .edu {
  background: #272b36 url(../image/memphis_2.png) no-repeat top right;
  background-size: cover;
}
.edu__content {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  padding: 45px;
}
.edu__content h3 {
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  line-height: 42px;
}
.edu__content h5 {
  padding: 6px 10px 5px 10px;
  border: 2px solid #35a22c;
  color: #fff;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
}
.edu__content h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}
.edu__content p {
  line-height: 24px;
  color: #585858;
  opacity: 0.7;
} */
/*award*/
.award {
  position: relative;
  color: #585858;
  padding: 70px 0;
}
.award__bg {
  background-image: url(../image/memphis_3.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.award__left {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  padding: 45px;
}
.award__right {
  padding: 45px 0;
}
@media screen and (max-width: 575.98px) {
  .award__bg {
    background-size: cover;
  }
}
/*footer*/
footer {
  background: #222;
}
footer a {
  color: #aaa;
}
footer p {
  color: #aaa;
  margin: 0;
}
footer a:hover {
  text-decoration: none;
  color: #35a22c;
}
.footer__main i {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #454545;
  transition: all 0.5s;
}
.footer__main a {
  margin-right: 10px;
}
.footer__main a:last-child {
  margin-right: 0;
}
.footer__copies {
  border-top: 1px solid #454545;
  padding-top: 30px;
  margin-top: 30px;
}
.footer__main i:hover {
  border-color: #35a22c;
}
@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
