* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: Hind, sans-serif;
  color: #212529;
  line-height: 1.5;
  background-color: white;
}
/*header*/
header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: transparent;
}
header .navbar-brand i {
  font-size: 45px;
  color: #35a22c;
}
header .navbar-brand {
  font-size: 36px;
  color: white;
}
header .navbar-brand,
header .navbar-nav .nav-link {
  color: white;
}
header .navbar .nav-item.active a {
  color: #35a22c;
}
header .navbar .nav-item {
  position: relative;
  margin-left: 10px;
}
header .navbar .nav-item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #35a22c;
  left: 0;
  bottom: 0;
  transition: all 0.5s;
}
header .navbar .nav-item:hover::before,
header .navbar .nav-item.active::before {
  width: 100%;
}
/*carousel*/
#carousel .carousel-item {
  height: 100vh;
}
#carousel .carousel-caption img {
  width: 140px;
  border-radius: 50%;
  margin: auto;
}
#carousel .carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}
#carousel .carousel-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(39, 43, 54, 0.5);
  top: 0;
  left: 0;
}
#carousel .carousel-indicators li {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  bottom: 10%;
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
#carousel .carousel-caption h5 {
  font-size: 56px;
  line-height: 65px;
}
#carousel .carousel-caption p {
  font-size: 24px;
}
#carousel .carousel-indicators li.active {
  background-color: #35a22c;
}
/*project*/
.project-title h2 {
  text-align: center;
  font-size: 36px;
  line-height: 42px;
  font-weight: 600;
}
.project-tabs {
  text-align: center;
}
.project-tabs .nav-pills .nav-link.active {
  background-color: #35a22c;
  border-color: #35a22c;
  color: white;
}
.project-tabs .nav-pills .nav-link {
  border: 1px solid black;
  margin: 0 10px;
  color: black;
}
.project-item {
  border-radius: 20px;
  margin-bottom: 25px;
  cursor: pointer;
  transition: all 0.5s;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.project-item .card-text {
  text-align: center;
  padding: 20px;
  border: none;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid transparent;
  border-top: none;
  transition: all 0.5s;
}
.project-item p {
  color: #585858;
}
.project-item .card-text:hover {
  border: 1px solid #35a22c;
  border-top: none;
}
.project-tabs .project-item:hover {
  color: #35a22c;
}
@media screen and (max-width: 575.98px) {
  .project-tabs .nav .nav-link {
    padding: 0.5rem;
  }
  .bg-overlay {
    background-position: right top;
  }
}
@media screen and (max-width: 415px) {
  .project-tabs .nav .nav-item {
    margin-bottom: 1rem;
  }
}
/*jobs*/
#jobs {
  background: url(../image/3.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#jobs::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#jobs .job-title {
  text-align: center;
  z-index: 10;
}
#jobs .job-title h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
}
#jobs .job-title p {
  line-height: 24px;
}
.jobs-item {
  padding: 40px 40px;
  transition: 0.3s;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.5s;
}
.jobs-item i {
  font-size: 48px;
  color: #35a22c;
}
.jobs-item h4 {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  padding-top: 25px;
  font-weight: 800;
}
.jobs-item p {
  padding-top: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.jobs-item:hover {
  background: #000;
  border-color: #fff;
}
/*achieve*/
.achieve {
  position: relative;
  color: #585858;
  padding: 70px 0;
}
.achieve-bg {
  background-image: url(../image/memphis_3.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.achieve-left {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  padding: 45px;
}
.achieve-right {
  padding: 45px 0;
}
@media screen and (max-width: 575.98px) {
  .achieve-bg {
    background-size: cover;
  }
}
